@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<MudBlazor.MudTextField @bind-Value="@RegexText" Immediate="true" />
<br />
<p>Regex status: @regexStatus</p>

@code {
    private string regexText = string.Empty;
    public string RegexText
    {
        get => this.regexText;
        set
        {
            this.regexText = value;
            this.regexStatus = $"ok, {value}";
        }
    }

    private string regexStatus = string.Empty;
}
