@page "/"
@using Yoakke.SynKit.RegExes
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<h1>Regex visualizer</h1>

Regex: <textarea rows="1" @bind=@RegexCode/>

Result: <p>@RegexStatus</p>

<div id="graph" style="text-align: center;"></div>
<button onclick=@this.ButtonClicked()>Draw NFA</button>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private string regexCode = string.Empty;
    private string RegexCode
    {
        get => this.regexCode;
        set
        {
            this.regexCode = value;

            try
            {
                PcreParser.Parse(value);
                this.RegexStatus = "Ok!";
            }
            catch (RegExParseException error)
            {
                this.RegexStatus = $"Error - {error.Message}";
            }
        }
    }

    private string RegexStatus { get; set; } = "Ok!";

    private async Task ButtonClicked()
    {
        await JS.InvokeAsync<string>("renderGraph", "digraph { a -> b }");
    }
}
